# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtualenv
venv/
ENV/
.env/

# Django
*.log
*.pot
*.pyc
*.sqlite3

# VSCode
.vscode/

# Cache rotas
cache/

# Arquivo de credenciais do banco
DBCREDENTIALS.env 